<nav class="main-nav navbar-expand-sm navbar-dark bg-dark">
  <div style="padding:5px;">
    <a class="navbar-brand text-center" [routerLink]='["/"]'>
      XHealth Billing
    </a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
            style="float:right;">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class=" collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar navbar-nav flex-column nav-pills custom-pill">
      <li class="nav-item custom-pill">
        <a class="flex-sm-fill text-sm-left nav-link nav-link" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }' [routerLink]='["/"]' (click)='collapse()'>
          <i class="fa fa-home" aria-hidden="true"></i> Home
        </a>
      </li>
      <li class="nav-item custom-pill">
        <a class="nav-link" [routerLinkActive]='["active"]' [routerLink]='["/counter"]' (click)='collapse()'>
          <i class="fa fa-plus-square" aria-hidden="true"></i> Counter
        </a>
      </li>
      <li class="nav-item custom-pill">
        <a class="nav-link" [routerLinkActive]='["active"]' [routerLink]='["/fetch-data"]' (click)='collapse()'>
          <i class="fa fa-th-list" aria-hidden="true"></i> Fetch data
        </a>
      </li>
      <li class="nav-item dropdown custom-pill">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

